body {
  margin: 0;
  padding: 0;
  background: #222;
  color: white;
  font-family: sans-serif;
  text-align: center;
}
button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
}
.controls {
  margin-top: 50px;
}