body {
  font-family: 'Arial', sans-serif;
  background: #222;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 20px;
}
canvas {
  background: #000;
  display: block;
  margin: 0 auto;
}

#mobile-controls {
  margin-top: 10px;
}
#mobile-controls button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 5px;
}